doctype html
html
  head
    title ATM Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    script(type='text/javascript', src='js/lib/jquery-1.8.0.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/lib/build/build.js')
    script(type='text/javascript').
      require('boot');
    block script
  body
    block body