extends layout
block head
  include pomelo-head
  script(type='text/javascript', src='js/ATMGame/register.js')
block body
  .container(style='text-align:center; padding-top: 50px;')
    h1 Register
    br
    .row
      form.form-horizontal.col-lg-4.col-lg-offset-4()
        .form-group
          .col-lg-12
            input#username.form-control.input-lg(type='text', placeholder='Username')
        .form-group
          .col-lg-12
            input#password.form-control.input-lg(type='password', placeholder='Password')
        if error
          .form-group
            .col-lg-8.col-lg-offset-2.alert.alert-danger
            p #{ error }
        .form-group
          button#register-btn.col-lg-4.col-lg-offset-4.btn.btn-lg.btn-default(type='button')
